body{
  /* background: url("Gas\ images/order-bg.jpg"); */
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  
}

.home-b button{
  background-color: black;
  padding: 10px 8px;
  margin-left: 200px;
  margin-top: 50px;
}

.home-b button a{
  text-decoration: none;
  color: orange;
  
}

.container{
  background: rgba(122, 192, 246, 0.6);
  width: 60%;
  height: 100%;
  margin: 5% 20%;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 20px;
  transition: all ease-in .5;
}

.head{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 0.4%;
}

.head h1{
  text-decoration: underline;
}

.head .call{
  width: 13%;
  height: .2%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 8px;
  border-bottom: 5px solid red;
  border-radius: 3px;
  text-align: center;
}

#message{
  display: none;
}

.head .call:hover{
  background-color: red;
  border-bottom:5px solid black;
  
}

.container .input label{
  font-size: 20px;
}

.container .input{
  padding: 25px;
  height: .4%;
  width: 100%;

}
 
.container .input .select select,
.container .input .quality input{
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  background-color: beige;
}

.container .input .quality input{
  padding: 0 ;
}

.container .input button{
  padding: 10px 8px;
  width: 30%;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: rgb(32, 46, 49);
  color: white;
  font-size: 16px;
  margin-left: 80px;
}

button a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.container .input button:hover{
  background-color: black;
}

.container .end{
  font-size: 16px;
  
}

@media (max-width: 992px){
  .container{
    width: 70%;
    margin: 10%;
  }
}